<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
  </head>



  <!-- Header and Button -->
  <header class="headerimg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 text-center" id="headerpadding">
          <h1 style="color: whitesmoke">Mission to Mars</h1>
          <a href="/scrape" role="button"><button class="btn">Scrape New Data</button></a>
        </div>
      </div>
    </div>
  </header>

  <body class="container">
    <!-- Mars News -->
    <div class="row" style="background-color: #C67B5C; color: whitesmoke; padding: 5%;" id="mars-news">
      <div class="col-md-12">
        <h2>Latest Mars News:</h2> 
        <h3>{{ mars.news_title }}</h3>
        <p>{{ mars.news_p }}</p>
      </div>
    </div>

    <!-- Featured Image & Facts Table-->
    <div class="row text-center" style="background-color: #8E6A5A; padding: 5%;" id="mars-featured-image">
      <div class="col-md-7">
        <h2 style="color: whitesmoke;">Featured Mars Image</h2>
        <img src="{{mars.featured_image | default('static/images/error.png', true) }}" class="img-responsive; imagecenter" style= "max-width: 100%; height: 400px;" alt="Responsive image" />
      </div>

      <div class="col-md-5">
        <div class="row; container-fluid">
          <h2 style="color: whitesmoke;">Mars Facts:</h2>
          <h4 class="imagecenter">{{ mars.facts|safe }}</h4>
        </div>
      </div>
    </div>  


      <!-- Mars Hemispheres -->
    <div class="row text-center" style="background-color: #b0a394; color: whitesmoke;" id="mars-hemispheres">
      <div class="page-header">
        <h2 class="text-center" style="color: whitesmoke;">Mars Hemispheres</h2>
        <br>
      </div>
      {% for hemisphere in mars.hemispheres %}
      <div class="col-md-6 text-center">
        <div class="thumbnail" style="background-color: #b0a394; border: #b0a394">
          <h3 class="cation">{{hemisphere.title}}</h3>
          <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" style= "max-width: 100%; height: 500px;" alt="...">
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
